body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, white, #2575fc);
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
input[type="submit"] {
    background: #ff6f61;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}
input[type="submit"]:hover {
    background: #ff4b47;
}
h2 {
    font-size: 1.5rem;
    font-family:latin;
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius:30px;